[Desktop Entry]
Type=Application
Name=Network\nConnections
Icon=network
Exec=../cpls-bin/ncpa/ncpa
Comment=Configure network devices.
StartupNotify=true
Terminal=false
